{% extends "site_base.html" %}


{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}Be a seller{% endblocktrans %}</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<form method="POST" class="post-form">
	                	{% csrf_token %}
                		{{form.as_p}}
				 <a href="../" class = "btn btn-primary">ADD</a>
			</form>
		</div>
	</section>

{% endblock %}
