{% extends "site_base.html" %}


{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}ADD YOUR ITEM{% endblocktrans %}</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<form method="POST" class="post-form">
		                {% csrf_token %}
		                {{form.as_p}}
				<input type="submit" value = ADD" />
			</form>
		</div>
	</section>

{% endblock %}
