
{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Auction list{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<center>
				<h1><a href="">AUCTION LIST</a></h1>
			</center>
		</div>
	</section>
        <section>
                <div class = "container">
                        <a href="../mypage/myitem" class = "myButton">My page</a>
                </div>
        </section>
	<section>
		<div class = "container">
			<table class = "table">
			<tr>
				<th><center> book id </center></th>
				<th><center> current price </center></th>
				<th><center> due date </center></th>
				<th><center> BIDDING </center></th>
			</tr>
			{% for detail in ongoing_detail %}
				<tr>
					<td><center> {{detail.book_id}} </center></td>
					<td><center>{{detail.current_price}} </center></td>
					<td><center> {{detail.due_date}} </center></td>
					<td><center> <a href="../bidding/{{detail.auction_id}}" class = "myButton">BIDDING NOW! </a> </center></td>
				</tr>
			{% endfor %}
                       	{% for detail in finish_detail %}
				<tr>
                                        <td><center> {{detail.book_id}}</center></td>
                                        <td><center> {{detail.current_price}} </center></td>
                                        <td><center> {{detail.due_date}}</center> </td>
                                        <td><center> <a href="../bidding/{{detail.auction_id}}" class = "myButton"> FINISHED </a></center> </td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</section>


{% endblock %}
