{% extends "site_base.html" %}



{% load i18n %}

{% block head_title %}Auction list{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}AUCTION LIST{% endblocktrans %}</h1>
		</div>
	</section>
        <section>
                <div class = "container">
                        <a href="../mypage/myitem" class = "btn btn-primary">My page</a>
                </div>
        </section>
	<section>
		<div class = "container">
			<table class = "table">
			<tr>
				<th> item id </th>
				<th> book id </th>
				<th> current price </th>
				<th> due date </th>
				<th> BIDDING </th>
			</tr>
			{% for detail in ongoing_detail %}
				<tr>	
					<td> {{detail.item_id}} </td>
					<td> {{detail.book_id}} </td>
					<td> {{detail.current_price}} </td>
					<td> {{detail.due_date}} </td>
					<td> <a href="../bidding/{{detail.auction_id}}" class = "btn btn-primary">BIDDING NOW! </a> </td>
				</tr>
			{% endfor %}
                       	{% for detail in finish_detail %}
				<tr>
                                        <td> {{detail.item_id}} </td>
                                        <td> {{detail.book_id}} </td>
                                        <td> {{detail.current_price}} </td>
                                        <td> {{detail.due_date}} </td>
					<td> Finished </td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</section>


{% endblock %}
