{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Auction list main{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}AUCTION LIST{% endblocktrans %}</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<a href="itemadd" class = "btn btn-primary">Add Item!</a>
			<a href="auctionadd" class = "btn btn-primary">Add Auction!</a>
		</div>
	</section>
	<section>
		<div class = "container">
			{% for detail in list_detail %}
				<h3> 
					<p> {{detail.book_id}}  {{detail.current_price}} {{detail.due_date}}  {{detail.bidding_state}} </p>
				</h3>
			{% endfor %}
		</div>
	</section>

{% endblock %}
