{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %} Add-Bidding {% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %} Bidding {% endblocktrans %} </h1>
		</div>
	</section>
	<section class="jumbotron2">
		<div class = "container">
			<h3> name : {{data.item_id}} </h3>
			<h3> current price : {{data.current_price}} </h3>
		</div>
	</section>
        <section>
                <div class="container">
                        <form method="POST" class="post-form">
                                {% csrf_token %}
                                {{form.as_p}}
				<div class = "alert alert-error">
					<strong class="important">{{error}}</strong>
				</div>
                               	<input type="submit" value = BIDDING! />
                        </form>
                </div>
        </section>
        <section>
                <div class = "container">
                        <a href="../" class = "myButton">I don' want bidding</a>
                </div>
        </section>

{% endblock %}



