{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %} Add-Bidding {% endblock %}

{% block body_base %}
	<section class="jumbortrom">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %} Bidding {% endblocktrans %} </h1>
		</div>
	</section>
	<section>
		<div class = "container">
			<h3> name : {{item_detail.item_id}} </h3>
			<h3> current price : {{item_detail.current_price}} </h3>
		</div>
	</section>
        <section>
                <div class = "container">
                        <a href="../" class = "btn btn-primary">I don' want bidding</a>
                </div>
        </section>
        <section>
                <div class="container">
                        <form method="POST" class="post-form">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" value = BIDDING!" />
                        </form>
                </div>
        </section>
 
{% endblock %}



