{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %} Bidding_List {% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
        <section class="jumbotron">
                <div class="container">
                        {% include "_messages.html" %}
                        <h1>{% blocktrans %}BIDDING LIST{% endblocktrans %}</h1>
                </div>
        </section>
        <section class="jumbotron">
                <div class="container">
                        {% include "_messages.html" %}
                        <h2>{% blocktrans %}Information{% endblocktrans %}</h2>
			<h3>Seller : {{seller.username}}</h3>
			<h3>Item : {{item_info.item_id}}</h3>
			<h3>Original price : {{item_info.reserved_price}}</h3>
			<h3>Current price : {{auction_info.current_price}}</h3>
			<h3>Due date : {{auction_info.due_date}}</h3>
                </div>
        </section>
        <section>
                <div class="container">
                       	<h3> This auction is finished </h3>
               	</div>
	</section>
	<section>
                <div class="container">
                        <a href="../../auction" class = "myButton">Back to Auction list</a>
                </div>
        </section>
        <section>
                <div class = "container">
                        <table class = "table">
                        <tr>
                                <th> user id </th>
                                <th> suggest price </th>
                                <th> suggest time </th>
                        </tr>
                        {% for detail in list_detail %}
                                <tr>
                                        <td> {{detail.user_id}} </td>
                                        <td> {{detail.suggest_price}} </td>
                                        <td> {{detail.suggest_time}} </td>
                                </tr>
                        {% endfor %}
                        </table>
                </div>
        </section>



{% endblock %}

