{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}My page{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}MY PAGE{% endblocktrans %}</h1>
			<h2>{% blocktrans %}My bidding{% endblocktrans %}</h2>
		</div>
	</section>
	<section>
		<div class="container">
			<a href="myitem" class = "btn btn-primary">My Item</a>
			<a href="mybidding" class = "btn btn-primary">My Bidding</a>
                        <a href="winbidding" class = "btn btn-primary">Win Bidding</a>

		</div>
	</section>
        <section>
                <div class = "container">
                        {% for detail in list_detail %}
                                <h3> 
                                        <p> {{detail.auction_id}}  {{detail.suggest_price}} {{detail.suggest_time}} </p>
                                </h3>
                        {% endfor %}
                </div>
        </section>




{% endblock %}
