{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}My page{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}MY PAGE{% endblocktrans %}</h1>
			<h2>{% blocktrans %}My bidding{% endblocktrans %}</h2>
		</div>
		<div class="container">
			<a href="myitem" class = "homeButton">My Item</a>
			<a href="mybidding" class = "homeButton">My Bidding</a>
                        <a href="winbidding" class = "homeButton">Win Bidding</a>
                        <a href="../auction/itemadd/" class = "homeButton">Add Item</a>
		</div>
	</section>
        <section>
                <div class = "container">
                        <a href="../auction" class = "myButton">GO to list</a>
                </div>
        </section>
        <section>
                <div class = "container">
                        <table class = "table">
                        <tr>
                                <th><center> Book name </center></th>
                                <th><center> Suggest price </center></th>
                                <th><center> Suggest time </center></th>
				<th><center> Bid again </center></th>
                        </tr>
                        {% for detail in list_detail %}
                                <tr>
                                        <td><center> {{detail.book_name}} </center></td>
                                        <td><center> {{detail.suggest_price}} </center></td>
                                        <td><center> {{detail.suggest_time}} </center></td>
				        <td> <center><a href="../../bidding/{{detail.item_id}}" class = "myButton"> Bid again? </a> </center></td>

                                </tr>
                        {% endfor %}
                        </table>
                </div>
        </section>




{% endblock %}
