{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Auction list main{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}MY PAGE{% endblocktrans %}</h1>
			<h2>{% blocktrans %}My item{% endblocktrans %}</h2>
		</div>
		<div class="container">
                        <a href="myitem" class = "homeButton">My Item</a>
                        <a href="mybidding" class = "homeButton">My Bidding</a>
                        <a href="winbidding" class = "homeButton">Win Bidding</a>
		</div>
	</section>
	<section>
		<div class = "container">
                        <a href="../auction" class = "myButton">GO to list</a>
                        <a href="../auction/itemadd/" class = "myButton">Add Item!</a>   
                </div>
	</section>
        <seceion>
                <div class = "container">
                        <table class = "table">
                        <tr>
                                <th><center> Book name </center></th>
				<th><center> Author </center></th>
				<th><center> Edition </center></th>
                                <th><center> Reserved price </center></th>
                                <th><center> Book state </center></th>
				<th><center> Join Auction </center></th>
                        </tr>
                        {% for detail in list_detail %}
                                <tr>
                                        <td><center> {{detail.book_name}} </center></td>
					<td><center> {{detail.author}} </center></td>
					<td><center> {{detail.edition}} </center></td>
                                        <td><center> {{detail.reserved_price}} </center></td>
                                        <td><center> {{detail.state}} </center></td>
					{% if detail.on_going = 1 %}
                                                <td> <center><a href="../bidding/{{detail.item_id}}" class = "myButton"> On going </a> </center></td>
					{% elif detail.on_going = 2 %}
                                                <td> <center><a href="../bidding/{{detail.item_id}}" class = "myButton"> Sold out </a> </center></td>
					{% else %}	
						<td> <center> <a href="../auction/addauction/{{detail.item_id}}" class = "myButton"> Join Auction </a> </center> </td>
					{% endif %}
                                </tr>
                        {% endfor %}
                        </table>
                </div>
        </section>




{% endblock %}
