{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Auction list main{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
	<section class="jumbotron">
		<div class="container">
			{% include "_messages.html" %}
			<h1>{% blocktrans %}MY PAGE{% endblocktrans %}</h1>
			<h2>{% blocktrans %}My item{% endblocktrans %}</h2>
		</div>
	</section>
	<section>
		<div class="container">
                        <a href="myitem" class = "btn btn-primary">My Item</a>
                        <a href="mybidding" class = "btn btn-primary">My Bidding</a>
                        <a href="winbidding" class = "btn btn-primary">Win Bidding</a>

		</div>
	</section>
        <section>
                <div class = "container">
                        <table class = "table">
                        <tr>
                                <th> book number </th>
                                <th> reserved price </th>
                                <th> book state </th>
                                <th> auction-ing </th>
                        </tr>
                        {% for detail in list_detail %}
                                <tr>
                                        <td> {{detail.book_number}} </td>
                                        <td> {{detail.reserved_price}} </td>
                                        <td> {{detail.state}} </td>
                                        <td> {{detail.on_going}} </td>
                                </tr>
                        {% endfor %}
                        </table>
                </div>
        </section>




{% endblock %}
