<link href='/site_media/static/css/site-e7b87bbea0.css' rel='stylesheet' />
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400, 700, 600, 900, 700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Short_Stack' rel='stylesheet' type='text/css'>

<style>
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'Titillium Web', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>



<style>

.jumbotron {
    background-color: #ff9400;
    margin-top: 0;
    padding: 40px 40px 60px 60px;
    text-align: center;
}

.jumbotron2 {
    background-color: #f3f781;
    margin-top: 0;
    padding: 40px 40px 60px 60px;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 2px rgba(22, 16, 16, 0.5);
    font-family: 'Titillium Web', sans-serif;
}

h2, h3, div{
    font-family: 'Titillium Web', sans-serif;
}

tr {
    font-family: 'Titillium Web', sans-serif;
}

section {
        padding-left: 15px;
}
</style>

