<link href='/site_media/static/css/site-e7b87bbea0.css' rel='stylesheet' />
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400, 700, 600, 900, 700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Short_Stack' rel='stylesheet' type='text/css'>

<style>
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'Titillium Web', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>



<style>

.jumbotron{
    background-color: rgba(255,148,0, 0.4);
}

.jumbotron2 {
    background-color: rgba(243, 247, 129, 0.3);
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

table {
    background-color : rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.container {
    padding : 20px 20px 20px 20px;
    text-align: center;
    margin: auto;
}

.post-form{
    background: rgba(252,252,252,0);
    font-size: 20px;
    margin: auto;
}

br, .notice{
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.important {
    color: #ff0000;
    font-weight: bold
}

h1 {
    text-shadow: 2px 2px 2px rgba(22, 16, 16, 0.5);
    font-family: 'Titillium Web', sans-serif;
}

h2, h3, div{
    font-family: 'Titillium Web', sans-serif;
}

tr {
    font-family: 'Titillium Web', sans-serif;
    font-size:20px;
}

section {
        padding-left: 15px;
}
</style>


<style>
.homeButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 3px solid rgba(40,40,40,0.94);
  font: normal normal bold 16px/normal "Times New Roman", Times, serif;
  color: rgba(40,40,40,0.93);
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        font-family:'Titillium Web', sans-serif;
        font-size:20px;
        font-weight:bold;
        padding:20px 20px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffee66;

}
</style>



<style>
.biddingButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 5px;
  border: 3px solid rgba(40,40,40,0.94);
  font: normal normal bold 16px/normal "Times New Roman", Times, serif;
  color: rgba(40,40,40,0.93);
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        font-family:'Titillium Web', sans-serif;
        font-size:30px;
        font-weight:bold;
        padding:60px 60px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffee66;

}
</style>


<style>
.biddButton {
        -moz-box-shadow: 0px 1px 0px 0px #fff6af;
        -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
        box-shadow: 0px 1px 0px 0px #fff6af;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
        background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
        background-color:#ffec64;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:3px solid #ffaa22;
        display:inline-block;
        cursor:pointer;
        color:#333333;
        font-family:'Titillium Web', sans-serif;
        font-size:50px;
        font-weight:bold;
        padding:80px 80px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffee66;
	float:right;
}

.biddingButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
        background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
        background-color:#ffab23;
}
.biddingButton:active {
        position:relative;
        top:1px;
}
</style>



