{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Bidding-U{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>Bidding-U{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                Sell your books in reasonable price! 
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>

    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Bidding-U?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Bidding-U</b> is the platform for students who want to sell their books via bidding(auction) system. They can select the lowe		st price, due date, and etc. It will offer candidates who can bidding on your books, information about used-books price and grea		t place to buy certain used-books which will be needed for your semester.
                {% endblocktrans %}
            </p>
	    <div class = "button">
            	<button class="button" id = save" href="auction">Go to Auction list</button>
		<a href="auction" class = "button">Go to Auction list</a>
		<input href = "auction" class="button" value = "Go to Auction list" type= "submit" />
	    </div>	
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Lee, Jin Won</b> jwl1993@unist.ac.kr
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Oh, Ju Young</b> ojmme625@gmail.com
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Lee, Kang Keun</b> kangkeun@unist.ac.kr
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
.button {
 display: block;
 height: 100px;
 width: 300px;
 background: #34696f;
 border: 2px solid rgba(33, 68, 72, 0.59);
}
